/* COMMENTS */

.comments {
  max-width: var(--width);
  margin: 0 auto;
  /* background-color: olive; */
  display: flex;
  background-image: url("./../images/bg-quotes.png");
  background-repeat: no-repeat;

  /* background-position: eje x, eje y */
  background-position: 27px 0px;
  padding: 1rem;
}

.comment {
  /* height: 220px; */
  flex: 1;
  margin: 1.5rem;
  background-color: var(--dark-blue-4);
  border-radius: 0.7rem;
  padding: 2.5rem 2rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.comment__text {
  line-height: 1.7rem;
  color: #ddd;
}

.comment__avatar {
  display: flex;
  /* align-items: center; */
}

.comment__figure img {
  height: 50px;
  border-radius: 50%;
}

.comment__info {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.comment__job{
    font-size: 0.8rem;
    color: #ccc;
}
