/* root es similar a utilizar el elemento HTML */
:root{
    /* creando variables para usarlas en todo el documento */
    --primary: #e94a3e;
    --light: #eee;
    --gray: #666;
    --gray-light: #999;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light);
}


.card{
    width: 300px;
    background-color: white;
    cursor: pointer;
}

.card:hover .card__desciption{
    height: 90px;
}

.card:hover .card__header{
    height: 200px;
}

.card:hover .card__img{
    filter: brightness(0.5);
    transform: scale(1.1, 1.1);
}

.card__header{
    position: relative;
    height: 300px;

    /* ocultamos todo el reabalsado de la imagen */
    overflow: hidden;
    transition: all 0.5s ease;
}

.card__img{
    width: 100%;
    transition: all 0.5s ease;
}

.card__photos{
    padding: 6px 10px;
    background-color: var(--primary);
    color: var(--light);
    font-weight: bold;

    /* su padre debe de ser relative. En este caso card__header */
    position: absolute;
    bottom: 0;
    left: 0;
}

.card__date{
    background-color: var(--primary);
    color: var(--light);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}

.card__body{
    padding: 20px;
}

.card__title{
    margin-bottom: 15px;
}

.card__subtitle{
    color: var(--primary);
    margin-bottom: 15px;
}

.card__desciption{
    font-size: 13px;
    line-height: 22px;
    color: var(--gray);
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.card__footer{
    padding: 10px 20px;
}

.card__feed{
    /* quitamos las viñetas al ul */
    list-style: none;
}

.card__item{
    /* colocar en linea la lista */
    display: inline-block;
    font-size: 13px;
    color: var(--gray-light);
}

