:root {
  --primary: #e94a3e;
  --primary-light: #dda07d;
  --light: #eee;
  --gray: #666;
  --gray-light: #999;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 60px;
  background: -webkit-linear-gradient(
    left,
    var(--primary),
    var(--primary-light),
    var(--primary)
  );

  /* como .header es el padre, este a su vez convierte en flex a sus hijos */
  display: flex;
  z-index: 10;
  position: relative;
}

.header__logo {
  display: flex;
  height: 100%;
  width: 300px;
  align-items: center;
  justify-content: center;
  /* background-color: violet; */
}

.header__logo img {
  height: 50%;
  margin-right: 20px;
}

.header__logo p {
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.header__nav {
  /* esta clase se vuelve flexible, debido a que el padre (headeres flexible) */
  flex: 1;
  /* background-color: violet; */
}

.header__list {
  list-style: none;
  display: flex;
  /* background-color: turquoise; */
  height: 100%;
}

.header__item {
  /* podemos usar flex:1, ya que el padre (header__list) lo vuelve flexible */
  flex: 1;
  /* background-color: yellow; */

  /* para que sus hijos que son los a(header__link), sean hijos flexibles */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;
}

.header__item:hover {
  flex: 2;
  background-color: rgba(0, 0, 0, 0.1);
}

/* cuando seleccionamos el padre, el que sufre los cambios por el hover es el hijo */
.header__item:hover .header__link {
  font-size: 20px;
}

.header__link {
  /* quita el subrayado al texto */
  text-decoration: none;
  color: white;
  font: 20px;
}

.main {
  display: flex;

  /* min-height: altura minima. Por tanto,podria ser mas altod ependiendo de los elementos */
  min-height: calc(100vh - 60px);
}

.main__menu {
  width: 220px;
  background-color: var(--primary);
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 60px;

  /* con ponerlo en menor valor es suficiente. Con ello se puede ver el logo
    y en el header le ponemos:
    z-index: 10;
    position: relative;
  */
  z-index: 0;
}

.main__list {
  list-style: none;
}

.main__item {
  background-color: #e63629;
  height: 60px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  cursor: pointer;
  transition: background-color, 0.3s ease;
}

.main__item:hover{
  background-color: #d4837d;
}

.main__item i{
  margin-right: 15px;
}

.main__container {
  /* si los hijos felxibles no tienen una altura establecida, entonces asumen el 100% del height respecto del padre */

  /* flex: 1; */

  margin-left: 220px;
  width: calc(100% -220px);
  background-color: #eee;

  /* para que los cards este en una linea */
  display: flex;

  /* para que los elementos colapsen y bajen de linea. Por defecto esta en flex-wrap: wrap */
  flex-wrap: wrap;

  /* para centrar todos los elementos hijos(card) en el eje principal */
  justify-content: center;
}

/* CONTENIDO DEL SECTION */
.card {
  width: 300px;
  background-color: white;
  cursor: pointer;
  margin: 20px;

  /* overflow: hidden, para que se oculte el contenido que rebalse de la imagen del card */

  border-radius: 10px;
  overflow: hidden;

  /* box-shadow: 
    #aaa 0px 0px 8px; (color de la sombra, pixeles sombra desplaza en X, pixeles sombra desplaza en Y, difuminado de la sombra(como una altura del elemento)) 
    x: pixel positivo es a la derecha
    Y: pixel positivo es abajo
  */
  box-shadow: #aaa 0px 0px 8px;

  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.05, 1.05);
  box-shadow: #aaa 0px 0px 20px;
}

.card:hover .card__desciption {
  height: 90px;
}

.card:hover .card__header {
  height: 200px;
}

.card:hover .card__img {
  filter: brightness(0.5);
  transform: scale(1.1, 1.1);
}

.card__header {
  position: relative;
  height: 300px;

  /* ocultamos todo el reabalsado de la imagen */
  overflow: hidden;
  transition: all 0.5s ease;
}

.card__img {
  width: 100%;
  transition: all 0.5s ease;
}

.card__photos {
  padding: 6px 10px;
  background-color: var(--primary);
  color: var(--light);
  font-weight: bold;

  /* su padre debe de ser relative. En este caso card__header */
  position: absolute;
  bottom: 0;
  left: 0;
}

.card__date {
  background-color: var(--primary);
  color: var(--light);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}

.card__body {
  padding: 20px;
}

.card__title {
  margin-bottom: 15px;
}

.card__subtitle {
  color: var(--primary);
  margin-bottom: 15px;
}

.card__desciption {
  font-size: 13px;
  line-height: 22px;
  color: var(--gray);
  height: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.card__footer {
  padding: 10px 20px;
}

.card__feed {
  /* quitamos las viñetas al ul */
  list-style: none;
}

.card__item {
  /* colocar en linea la lista */
  display: inline-block;
  font-size: 13px;
  color: var(--gray-light);
}
